<app-food>
    <div style="background-color: { props.color };">
        <h2>{ props.title }</h2>
        <p>{ props.body }</p>
    </div>

    <style>
        :host {
            padding: 1rem;
        }
    </style>
</app-food>